@tailwind base;
@tailwind components;
@tailwind utilities;

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: #eadbc8 !important;
}

.css-1yd74my-MuiButtonBase-root-MuiButton-root {
  font-family: 'Dancing Script' !important;
  text-transform: none !important;
  font-size: 20px !important;
}

.inputCustom {
  background-color: transparent;
  border-bottom: 1px solid;
}

.inputCustom::placeholder {
  color: #fafafa;
  opacity: 0.6;
}

.inputError:focus {
  border-color: red;
  outline: none !important;
}

.arrow-icon {
  animation: bounce 1.5s infinite; /* Aplica la animación 'bounce' infinitamente */
  font-size: 25px;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-item {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #fff6dc;
  padding: 5px;
  border-radius: 50%;
}
.countdown-value {
  font-size: 2rem;
  font-weight: bold;
}

.countdown-label {
  position: relative;
}

.dressCode {
  animation: balance 3s ease-in-out infinite;
}

.music {
  animation: musicNote 1s ease-in-out infinite;
}

.music2 {
  animation: musicNote 1s ease-in-out infinite;
  animation-delay: 0.5s;
}

/* Keyframes */

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(
      0
    ); /* No hay movimiento en estos puntos de la animación */
  }
  40% {
    transform: translateY(
      -20px
    ); /* La flecha se mueve hacia arriba a la mitad de la animación */
  }
  60% {
    transform: translateY(
      -10px
    ); /* La flecha se mueve hacia arriba a la mitad de la animación */
  }
}

@keyframes balance {
  0%,
  100% {
    transform: translateY(
      0
    ); /* No hay movimiento en estos puntos de la animación */
  }
  10%,
  90% {
    transform: rotate(20deg); /* Movimiento suave hacia arriba */
  }
  20%,
  80% {
    transform: rotate(-20deg); /* Movimiento suave hacia abajo */
  }
  30%,
  70% {
    transform: rotate(10deg); /* Movimiento suave hacia arriba */
  }
  40%,
  60% {
    transform: rotate(-10deg); /* Movimiento suave hacia abajo */
  }
  50% {
    transform: rotate(0); /* Punto central de la animación */
  }
}

@keyframes musicNote {
  0% {
    transform: scale(1); /* Tamaño normal al inicio */
  }
  50% {
    transform: scale(1.2); /* Aumento de tamaño en la mitad de la animación */
  }
  100% {
    transform: scale(1); /* Volver al tamaño normal al final */
  }
}
